<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzh.market.mapper.my.MyMarketSalesTypeMapper">

  <sql id="columns">
       a.id AS "id",
       a.sales_type_name AS "salesTypeName",
       a.sales_type_desc AS "salesTypeDesc",
 	   (select d.id from market_user d where d.id=a.create_by) AS "createBy.id",
       (select d.user_name from market_user d where d.id=a.create_by) AS "createBy.userName",
       (select s.id from market_user s where s.id=a.update_by) AS "updateBy.id",
       (select s.user_name from market_user s where s.id=a.update_by) AS "updateBy.userName",
       a.update_date AS "updateDate",
       a.create_date AS "createDate",
       a.del_flag AS "delFlag"
  </sql>
  
  <select id="findList" resultType="MarketSalesTypeVo">
  		select 
  			<include refid="columns"/>
  		from market_sales_type a
  		where 1=1 and del_flag = 0 
  		<if test="salesTypeName != null and salesTypeName != ''">
            AND a.sales_type_name LIKE CONCAT('%', #{salesTypeName}, '%') 
        </if>
  		<if test="salesTypeDesc != null and salesTypeDesc != ''">
            AND a.sales_type_desc LIKE CONCAT('%', #{salesTypeDesc}, '%') 
        </if>
        order by a.create_date
  </select> 
  
  <insert id="insert">
        INSERT INTO market_sales_type(
            id,
            sales_type_name,
            sales_type_desc,
            del_flag,
            create_by,
            create_date,
            update_by,
            update_date
        ) VALUES (
            #{id},
            #{salesTypeName},
            #{salesTypeDesc},
            #{delFlag},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate}
        )
    </insert>
     <update id="update">
        UPDATE market_sales_type SET 
            sales_type_name = #{salesTypeName},
            sales_type_desc = #{salesTypeDesc},
            update_by = #{updateBy.id},
            update_date = #{updateDate}
        WHERE id = #{id}
    </update>
</mapper>