<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzh.market.mapper.my.MyMarketTypeMapper">

  <sql id="columns">
       a.id AS "id",
       a.type_name AS "typeName",
       a.type_desc AS "typeDesc",
 	   (select d.id from market_user d where d.id=a.create_by) AS "createBy.id",
       (select d.user_name from market_user d where d.id=a.create_by) AS "createBy.userName",
       (select s.id from market_user s where s.id=a.update_by) AS "updateBy.id",
       (select s.user_name from market_user s where s.id=a.update_by) AS "updateBy.userName",
       a.update_date AS "updateDate",
       a.create_date AS "createDate",
       a.del_flag AS "delFlag"
  </sql>
  
  <select id="findList" resultType="MarketTypeVo">
  		select 
  			<include refid="columns"/>
  		from market_type a
  		where 1=1 and del_flag = 0 
  		<if test="typeName != null and typeName != ''">
            AND a.type_name LIKE CONCAT('%', #{typeName}, '%') 
        </if>
  		<if test="typeDesc != null and typeDesc != ''">
            AND a.type_desc LIKE CONCAT('%', #{typeDesc}, '%') 
        </if>
        order by a.create_date
  </select> 
  
  <insert id="insert">
        INSERT INTO market_type(
            id,
            type_name,
            type_desc,
            del_flag,
            create_by,
            create_date,
            update_by,
            update_date
        ) VALUES (
            #{id},
            #{typeName},
            #{typeDesc},
            #{delFlag},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate}
        )
    </insert>
     <update id="update">
        UPDATE market_type SET 
            type_name = #{typeName},
            type_desc = #{typeDesc},
            update_by = #{updateBy.id},
            update_date = #{updateDate}
        WHERE id = #{id}
    </update>
</mapper>